@use "./variables" as *;
@use "./breakpoints" as *;
@use "./animations";
@use "./mixins" as *;

// 內頁
#page {
  main {
    @include respond-max(md) {
      padding: 0 38px 0 10px;
    }
    @include respond-max(sm) {
      padding: 0 48px 0 0px;
    }
  }
}
#pageHeader {
  padding-right: 40px;
  @include respond-max(sm) {
    padding-right: 0px;
  }
  section {
    padding: 0;
    .text {
      background-color: $white;
      color: $text-gray;
      width: 80%;
      height: 14vh;
      padding: 1em;
      font-size: 1.5em;
      margin-bottom: 1em;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      justify-self: center;
      flex-direction: row;
      gap: 2em;
      border-top-left-radius: 3em;
      border-top-right-radius: 3em;
      margin-top: -63px;
      z-index: 11;
      position: relative;
      @include respond-max(md) {
        width: 100%;
      }
      @include respond-max(sm) {
        height: 19vh;
        margin-top: -142px;
        margin-right: 50px;
        width: 89%;
        gap: 1em;
      }
      .goBack {
        width: 182px;
        font-size: 0.6em;
        text-align: right;
        color: $text-gray;
        i {
          border-radius: 2em;
          border: 1px solid $text-gray;
          color: $text-gray;
          font-size: 1em;
          padding: 5px;
        }
        &:hover {
          color: $text-gray;
        }
      }
    }
  }

  .hd {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    position: relative;
    @include respond-max(md) {
    }
    .titleBox {
      position: absolute;
      z-index: 10;
      text-align: center;
      top: 74%;
      left: 51%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;

      @include respond-max(sm) {
        top: 65%;
        h1 {
          // bottom: 1.5em;
        }
        p {
          // bottom: 10.7em;
        }
      }
    }
    .imgBox {
      position: relative;
      overflow: hidden;
      height: 40vh;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.3); // 黑色遮罩
        backdrop-filter: blur(1px); // 模糊背景
        -webkit-backdrop-filter: blur(1px); // Safari 支援
        z-index: 1;
        pointer-events: none;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover; // ⭐ 保持比例填滿，不變形
        object-position: center; // ⭐ 水平垂直置中
        display: block;
        z-index: 0;
      }
    }
    h1,
    p {
      z-index: 1;
      position: absolute;
      bottom: 1em;
      color: $white;
      font-weight: normal;
      white-space: nowrap;
    }
    h1 {
      font-size: 1.2em;
      bottom: 3em;
      width: 180px;
      letter-spacing: 20px;
    }
    p {
      font-size: 1em;
      bottom: 5.7em;
      letter-spacing: 20px;
    }
  }
}
