// ⬇️ 主色系
$primary: #FF764A;
$secondary: #e7e0d4;
$secondary01: #d9bbb2;
$secondary02: #f3cec2;
$secondary03: #feb74f;
$secondary04:#dbd2c2;
$secondary05: #4a7aff;
$success: #2c7979;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #303030;
$white: #ffffff;
$black: #000000;
$gray-secondary: #c1c1c1;
$gray-secondary01:#e9e9e9;
$gray-secondary02: #f5f5f5; /*bg*/
$gray-secondary03: #dbdbdb;
$primary-light: #e7e3d5;
$secondary-light: #fffcfa;
$secondary-deep:#d2a599;
$transparent : transparent;
$tag: #f1ee51;
$tagActivity: #17a2b8;
$tagFood: #ef93e9;
$tagArt: #b96ff9;

// ⬇️ 文字顏色
$text-color: #111111; // 正文
$text-title-color: #111111;
$text-subtle-color: #777777;
$text-gray: #676060;
$text-gray01: #383838;

// ⬇️ 背景顏色
$body-bg: #ffffff;

// ⬇️ 圓角
$border-radius: 0.5rem;

// ⬇️ 字體設定
$font-family-base: 'Noto Sans TC', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font: 1rem; // 16px
$line-height-base: 1.5;
$font-family-en: 'ui-monospace';

// ⬇️ 按鈕樣式
$btn-padding-y: 0.5rem;
$btn-padding-x: 1.25rem;
$btn-border-radius: 2rem;

// ⬇️ 頁面容器最大寬度
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);

$carousel-colors: (
  default: rgba($dark, 0.3),
  hover: rgba($dark, 0.6),
  active: rgba($dark, 0.9),
  mobile-active: rgba($dark, 0.7)
);